<% content_for :title, "#{@visual.name} | Mica Watches | Wood Watch Collections" %>
<% meta_description "Check out the latest edits from Mica Minutes to the OpenMind project." %>

<div id="content-container">

  <div class="container-fluid sub-nav-container">
    <%= render(:partial => "visual-show-nav") %>
  </div>

  <div class="container-fluid visuals">

  	<div class="row-fluid">
			<div class="span12 visual-header">
        <div class="video-player active">
         <iframe src="<%= @visual.embedcode %>" width="940" height="528" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
        </div>
      </div>
    </div>

    <div class="row-fluid" id="visualTiles">
      <div class="span12">
        <div class="visual-images">
          <% @visualList.each do |visual| %>
          <div class="visual-image">
            <%= link_to image_tag(visual.thumbnail), visual %>
            <%= link_to image_tag("/assets/player-button.png"), visual, :class => 'play' %>
            <h5><%= link_to visual.name, visual %></h5>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function() {

  $('.visual-images').fadeIn(1000);

  $('.visuals-nav').addClass('active-nav-item');

  var $container = $('.visual-images');
  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.visual-image',
      columnWidth : 220, 
      gutterWidth : 20, 
      isFitWidth : true
    });
  });


});



</script>