<% content_for :title, "Co-Op | Mica Watches | Wood Watch Collections" %>
<% meta_description "The riders, artists and craftsman supporting the movement." %>


<div id="content-container">

  <div class="container-fluid sub-nav-container">
    <%= render(:partial => "team-nav") %>
  </div>

  <div id="team-tiles" class="tiled-images container-fluid ">
    <div class="row-fluid"> 
      <div class="span12">
        <div class="masonry-container">
          <% @team_members.each do |team_member| %>
          <div class="team-tile-image">
            <%= div_for team_member, :class => "" do %>
              <%= image_tag(team_member.tile_image) %>
              <%= image_tag(team_member.tile_hover) %>
            <% end %>
            <!-- <div class="main-image"><%=image_tag(team_member.tile_image)%></div>
            <div class="hover-image"><%= image_tag(team_member.tile_hover) %></div> -->
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    $('.tiled-images').fadeIn(1000);

    // hover states

    $('img[alt="Seth-huot-hover"]').hide()
    $('img[alt="Alex-andrews-hover"]').hide()
    $('img[alt="Charles-bergquist-hover"]').hide()
    $('img[alt="Scott-stevens-hover"]').hide()
    $('img[alt="Mason-dyer-hover"]').hide()
    $('img[alt="Sean-black-hover"]').hide()
    $('img[alt="Cale-zima-hover"]').hide()
    $('img[alt="Jordan-mendenhall-hover"]').hide()

    $('img[alt="Seth-huot"]').mouseover(function () {
      $(this).hide()
      $('img[alt="Seth-huot-hover"]').show()
    });
    $('img[alt="Seth-huot-hover"]').mouseleave(function () {
      $(this).hide()
      $('img[alt="Seth-huot"]').show()
    });

    $('img[alt="Alex-andrews"]').mouseover(function () {
      $(this).hide()
      $('img[alt="Alex-andrews-hover"]').show()
    });
    $('img[alt="Alex-andrews-hover"]').mouseleave(function () {
      $(this).hide()
      $('img[alt="Alex-andrews"]').show()
    });

    $('img[alt="Charles-bergquist"]').mouseover(function () {
      $(this).hide()
      $('img[alt="Charles-bergquist-hover"]').show()
    });
    $('img[alt="Charles-bergquist-hover"]').mouseleave(function () {
      $(this).hide()
      $('img[alt="Charles-bergquist"]').show()
    });

    $('img[alt="Scott-stevens"]').mouseover(function () {
      $(this).hide()
      $('img[alt="Scott-stevens-hover"]').show()
    });
    $('img[alt="Scott-stevens-hover"]').mouseleave(function () {
      $(this).hide()
      $('img[alt="Scott-stevens"]').show()
    });

    $('img[alt="Mason-dyer"]').mouseover(function () {
      $(this).hide()
      $('img[alt="Mason-dyer-hover"]').show()
    });
    $('img[alt="Mason-dyer-hover"]').mouseleave(function () {
      $(this).hide()
      $('img[alt="Mason-dyer"]').show()
    });

    $('img[alt="Sean-black"]').mouseover(function () {
      $(this).hide()
      $('img[alt="Sean-black-hover"]').show()
    });
    $('img[alt="Sean-black-hover"]').mouseleave(function () {
      $(this).hide()
      $('img[alt="Sean-black"]').show()
    });

    $('img[alt="Cale-zima"]').mouseover(function () {
      $(this).hide()
      $('img[alt="Cale-zima-hover"]').show()
    });
    $('img[alt="Cale-zima-hover"]').mouseleave(function () {
      $(this).hide()
      $('img[alt="Cale-zima"]').show()
    });

    $('img[alt="Jordan-mendenhall"]').mouseover(function () {
      $(this).hide()
      $('img[alt="Jordan-mendenhall-hover"]').show()
    });
    $('img[alt="Jordan-mendenhall-hover"]').mouseleave(function () {
      $(this).hide()
      $('img[alt="Jordan-mendenhall"]').show()
    });

    var $container = $('.masonry-container');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector : '.team-tile-image',
        columnWidth : 300, 
        gutterWidth : 20, 
        isFitWidth : true
      });
    });

    $('.team-nav').addClass('active-nav-item');

  });
</script>
