<div id="content-container">

  <div class="container-fluid sub-nav-container">
    <%= render(:partial => "team-nav") %>
  </div>

  <div id="team-tiles" class="tiled-images container-fluid ">
    <div class="row-fluid"> 
      <div class="span12">
        <div class="masonry-container">
          <% @team_members.each do |team_member| %>
          <div class="team-tile-image">
            <div><%= link_to image_tag(team_member.tile_image), team_member %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <h1>Listing team_members</h1>

<table>
  <tr>
    <th>Industry</th>
    <th>Name</th>
    <th>Bio</th>
    <th>Instagram</th>
    <th>Facebook</th>
    <th>Twitter</th>
    <th>Masthead image</th>
    <th>Video embed</th>
    <th>Tile image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team_members.each do |team_member| %>
  <tr>
    <td><%= team_member.industry %></td>
    <td><%= team_member.name %></td>
    <td><%= team_member.bio %></td>
    <td><%= team_member.instagram %></td>
    <td><%= team_member.facebook %></td>
    <td><%= team_member.twitter %></td>
    <td><%= team_member.masthead_image %></td>
    <td><%= team_member.video_embed %></td>
    <td><%= team_member.tile_image %></td>
    <td><%= link_to 'Show', team_member %></td>
    <td><%= link_to 'Edit', edit_team_member_path(team_member) %></td>
    <td><%= link_to 'Destroy', team_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team member', new_team_member_path %> -->

<script>
  $(document).ready(function() {

    $('.tiled-images').fadeIn(1000);

    var $container = $('.masonry-container');
    $container.imagesLoaded(function(){
      $container.masonry({
        itemSelector : '.team-tile-image',
        columnWidth : 300, 
        gutterWidth : 20, 
        isFitWidth : true
      });
    });

    $('.team-nav').addClass('active-nav-item');

  });
</script>
