<% meta_description "Contact us for support, warranty, sizing your watch and finding local dealers." %>

<% content_for :title, "Support | Mica Watches | Wood Watch Collections" %>

<div id="content-container">
<div class="container-fluid sub-nav-container">
  <%= render(:partial => "support-nav") %>
</div>

<div class="container-fluid support">

<header class="row-fluid" id="contact">
</header>

<section class="row-fluid support-content">
  <div class="span6 first-paragraph">
    <p>Mica would love to help answer any questions you may have. Send us an email and we’ll get back to you
      shortly. Also, make sure to follow the blog and like our facebook page for more updates and cool stuff!</p>

    <p class="sub">Press inquiries can best be answered via email.</p>

    <ul class="links">
      <li>
        <span>Sales: </span><a href="mailto:sales@micamove.com">sales@micamove.com</a>
      </li>
      <li>
        <span>Service: </span><a href="mailto:service@micamove.com">service@micamove.com</a>
      </li>
      <li>
        <span>Info: </span><a href="mailto:info@micamove.com">info@micamove.com</a>
      </li>
    </ul>
  </div>

  <div class="span6 support-field">
    <form class="wpcf7-form" accept-charset="UTF-8" action="https://mica.infusionsoft.com/app/form/process/123244dce7d0822ef95b7692143350b2" method="POST">
      <input type="hidden" name="inf_form_xid" value="123244dce7d0822ef95b7692143350b2">
      <input type="hidden" name="inf_form_name" value="Request information">
      <input type="hidden" name="infusionsoft_version" value="1.27.7.27">

      <div class="form_element_wrapper name-wrapper">
        <div class="form_element first-name-field">
							<span class="wpcf7-form-control-wrap fname">
								<label for="inf_field_FirstName"></label>
								<input class="wpcf7-text wpcf7-validates-as-required contact_feild" id="inf_field_FirstName" onclick="if (this.defaultValue==this.value) this.value=''" type="text" name="inf_field_FirstName" size="40" value="FIRST NAME" onblur="if (this.value=='') this.value=this.defaultValue">
							</span>
        </div>
        <div class="form_element last-name-field">
							<span class="wpcf7-form-control-wrap lname">
								<label for="inf_field_LastName"></label>
								<input class="wpcf7-text wpcf7-validates-as-required contact_feild" id="inf_field_LastName" onclick="if (this.defaultValue==this.value) this.value=''" type="text" name="inf_field_LastName" size="40" value="LAST NAME" onblur="if (this.value=='') this.value=this.defaultValue">
							</span>
        </div>
      </div>
      <div class="form_element_wrappercontactformemail">
						<span class="wpcf7-form-control-wrap email">
							<label for="inf_field_Email"></label>
							<input class="wpcf7-text wpcf7-validates-as-email wpcf7-validates-as-required contact_email" id="inf_field_Email" onclick="if (this.defaultValue==this.value) this.value=''" type="text" name="inf_field_Email" size="40" value="EMAIL ADDRESS" onblur="if (this.value=='') this.value=this.defaultValue">
						</span>
      </div>
      <div class="form_element_wrapper comment-field">
						<span class="wpcf7-form-control-wrap">
							<label for="inf_misc_Comments"></label>
							<textarea class="wpcf7-validates-as-required contact_textarea" id="inf_custom_TextAreaContactUS" onclick="if (this.defaultValue==this.value) this.value=''" cols="40" name="inf_custom_TextAreaContactUS" rows="10" onblur="if (this.value=='') this.value=this.defaultValue">WRITE
                              YOUR COMMENT HERE.</textarea>
						</span>
      </div>
      <div class="form_element_wrapper">
        <a class="infusion-submit" style="align: right;">
          <input class="btnsubmit btn btn-default" type="submit" value="SUBMIT INFORMATION">
        </a>

        <div class="wpcf7-response-output wpcf7-display-none"></div>
      </div>
    </form>
</section>

<hr>

<header class="row-fluid" id="warrentyInfo">
  <div class="span12 support-header">
    <h3>Warranty Info</h3>
  </div>
</header>

<section class="row-fluid support-content">
  <p class="span6">
    A limited warranty comes with each Mica watch. Mica covers defects in materials and workmanship for a period of
    one(1) year after registering your watch at micamove.com/warranty Defects are repaired or replaced at our
    discretion. Normal wear and tear, band, batteries, crystal, watch case, loss or theft are not covered. Links and
    casing on all current models of watches sold are made of pure wood and treated with our proprietary SolidCore™
    wood science technology to improve durability, luster and resistance to the elements. Although this seals and
    finishes your watch from the inside out, the case and movement are splash resistant. All warranty will be void if
    you submerge your watch in water or open up the crown and expose it to moisture.
  </p>

  <p class="span6">
    All warranty will be void if
    you open the case for any reason. If you are unsure of the warranty explained herein or would like to schedule
    your watch for service or repair just visit micamove.com/warranty or email us at service@micamove.com.
  </p>

  <p class="span6">
    Do NOT return your watch to sender or retail location, you must receive a Return Authorization number & the
    correct service or repair location by contacting service@micamove.com. Items shipped without an RA number may be
    refused at time of delivery by the receiving department at Mica. Customer is responsible for all items shipped
    without an RA number. Customer is responsible for all return shipping costs.
  </p>
</section>

<hr>

<header class="row-fluid" id="sizing">
  <div class="span12 support-header">
    <h3>Adjusting your Watch</h3>
  </div>
</header>

<section class="row-fluid support-content">
  <p class="span6">
    Each Mica watch can be sized to fit any wrist. Extra links are included as well as three precision adjustment
    settings located on the clasp. Links can be added or removed using a link pin remover or thumb tack and small
    hammer.
    <br>
    <br>
    1. To add or remove links, push the pin out toward the direction of the arrow shown on the back of the band,
    then insert or remove extra links.
    <br>
    <br>
    2. For a precise fit, remove spring pin from the clasp using the end of a paper clip, tooth pick or thumb tack.
    Insert spring pin back into any of the three sizing holes.
  </p>
  <img class="span6" src="/assets/adjusting-watch.jpg"/>
</section>

<hr>

<header class="row-fluid" id="returns">
  <div class="span12 support-header">
    <h3>Return / Exchange Policy</h3>
  </div>
</header>

<section class="row-fluid support-content">
  <p class="span6">
    Return new, unopened items from a cancelled order within 14 days of receipt for a full refund of the cost of the
    merchandise. Items must be returned in their original packaging and be in original condition. To cancel an order
    and return your purchase please contact sales@micamove.com to obtain an RA (Return Authorization) number and the
    correct return location.
    <br>
    <br>
    Shipping charges are not refundable unless the return/exchange is the result of our error.
    <br>
    <br>
    Items shipped without a return authorization number may be refused at time of delivery by our receiving
    department. Customer is responsible for all return shipping costs.
    <br>
    <br>
    Please carefully package your return, ideally in the same packaging that we used to ship it to you along with
    its packing materials. Enclose a copy of the sales receipt and please handwrite which item you would like to
    exchange for.
    <br>
    <br>
    Returned merchandise from large quantity orders will be subject to a re-stocking charge.
  </p>

  <p class="span6">
    <span>Cancelation Policy</span>
    Requests for orders to be cancelled must be made before they have been shipped to receive a full refund. If
    merchandise has already shipped then the standard Return/Exchange Policy applies.
    <br>
    <br>
    <span>Refund Policy</span>
    If a refund is requested, expect a refund within 7 to 14 days after we receive your return. Customer is
    responsible for all return shipping costs.
    <br>
    <br>
    <span>International Shipping Policy</span>
    Mica does not cover the costs of duty/tax fees collected by the International Government’s Customs Department.
  </p>

</section>

<hr>

<header class="row-fluid" id="dealer">
  <div class="span12 support-header">
    <h3>FIND A DEALER</h3>
  </div>
</header>

<section class="row-fluid support-content">
  <div class="span12 hidden-phone" style="margin-left:0px;">
    <%= form_tag support_page_path + '#dealer', :method => :get, :class => 'form-inline' do %>
        <!--:onclick=>"if (this.defaultValue==this.value) this.value=''", :type=>"text", :name=>"inf_field_FirstName", :size=>"40", :value=>"SEARCH BY ZIP", :onblur=>"if (this.value=='') this.value=this.defaultValue"-->
        <%= text_field_tag :zip, @zip, :class => 'input input-large txt-decorated', :style => "width: 50%", :placeholder => 'SEARCH BY ZIP' %>
        &nbsp;&nbsp;&nbsp;&nbsp;With
        in: <%= select_tag(:distance, options_for_select([['10 miles', 10], ['20 miles', 20], ['30 miles', 30], ['40 miles', 40], ['50 miles', 50], ['60 miles', 60], ['70 miles', 70], ['80 miles', 80], ['90 miles', 90], ['100 miles', 100]], selected: params[:distance]), :style => 'width:100px;') %>
        <%= submit_tag 'SEARCH', :name => nil, :class => 'btnsubmit btn btn-default pull-right', :style => 'width: 22%;' %>
    <% end %>
  </div>
  <div class="span12 visible-phone" style="margin-left:0px;">
    <%= form_tag support_page_path + '#dealer', :method => :get do %>
        <!--:onclick=>"if (this.defaultValue==this.value) this.value=''", :type=>"text", :name=>"inf_field_FirstName", :size=>"40", :value=>"SEARCH BY ZIP", :onblur=>"if (this.value=='') this.value=this.defaultValue"-->
        <%= text_field_tag :zip, @zip, :class => 'input txt-decorated1 span12', :placeholder => 'SEARCH BY ZIP' %>
        <br>
        With
        in: <%= select_tag(:distance, options_for_select([['10 miles', 10], ['20 miles', 20], ['30 miles', 30], ['40 miles', 40], ['50 miles', 50], ['60 miles', 60], ['70 miles', 70], ['80 miles', 80], ['90 miles', 90], ['100 miles', 100]], selected: params[:distance]), :style => 'width:100px;') %>
        <br>
        <%= submit_tag 'SEARCH', :name => nil, :class => 'btnsubmit btn btn-default span6' %>
    <% end %>
  </div>
  <div class="span12" style="margin-left:0px;">
    <div id="map_wrapper">
      <div id="map_canvas" class="mapping"></div>
    </div>
  </div>

  <% unless @zip.nil? and @zip != '' %>
      <div class="row-fluid hidden-phone">
        <div class="span12">
          <ul class="thumbnails">
            <% @stores.each do |store| %>
                <li class="span4">
                  <div class="thumbnail" style="border: 0px none; box-shadow: none;">
                    <h4>
                      <%= store.store_name %>
                    </h4>

                    <div><%= store.address %></div>
                    <div><%= store.city %></div>
                    <div><%= "#{store.state}, #{store.zip}" %></div>
                    <div><%= "#{store.phone_number}" %></div>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="row-fluid visible-phone">
        <% @stores.each do |store| %>
            <div class="">
              <h4>
                <nobr><%= store.store_name %></nobr>
              </h4>

              <div><%= store.address %></div>
              <div><%= store.city %></div>
              <div><%= "#{store.state}, #{store.zip}" %></div>
              <div><%= "#{store.phone_number}" %></div>
            </div>
        <% end %>
      </div>
  <% end %>
</section>
<br>
</div>

</div>
<style type="text/css">
    #map_wrapper {
        height: 400px;
    }

    #map_canvas {
        width: 100%;
        height: 100%;
    }

    .txt-decorated {
        font-family: "brandonmed", sans-serif;
        font-style: normal;
        font-weight: 400;
        height: 40px !important;
        letter-spacing: 1px;
        padding-left: 15px !important;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        /*width: 50% !important;*/
    }

    .txt-decorated1 {
        font-family: "brandonmed", sans-serif;
        font-style: normal;
        font-weight: 400;
        height: 40px !important;
        letter-spacing: 1px;
        padding-left: 15px !important;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        /*width: 100% !important;*/
    }

    .btn-decorated {
        background: #3c3c3c;
        border: none;
        height: 50px !important;
        letter-spacing: 1px;
        padding: 4px 7px !important;
        /*width: 15% !important;*/
    }

    .row-fluid [class*="span"]:nth-child(3n+1) {
        margin-left: 0;
    }
</style>
<script type="text/javascript">
    var markers = [
        <% @stores.each do |store| %>
        [ '<%=store.full_address%>', <%= store.latitude %> , <%= store.longitude %> ],
        <% end %>
    ];

    var infoWindowContent = [
        <% @stores.each do |store| %>
        [ '<div class="info_content">' +
                '<h4><nobr><%=store.store_name%><nobr></h4>' +
                '<div><%= store.address %></div>' +
                '<div><%= store.city %></div>' +
                '<div><%= "#{store.state}, #{store.zip}" %></div>' +
                '<div><%= "#{store.phone_number}" %></div>' +
                '</div>'],
        <% end %>
    ];

    $(document).ready(function () {
        var script = document.createElement('script');
        script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize_map";
        document.body.appendChild(script);
    });
</script>