<% content_for :title, "Wood Watches | Mica Watches | Wood Watch Collections" %>
<% meta_description "Men's wood watches hand crafted and treated with SolidCore™ wood science technology. Wooden watches built to withstand the elements." %>

<div id="content-container">
  <div class="container-fluid sub-nav-container">
    <%= render(:partial => "product-nav") %>
  </div>

  <div class="container-fluid nav-carousel">
    <div class="row-fluid carousel-products"> 
      <div class="span12">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <a href="/products/the-drift-blonde-black-wood-watch-37mm">
                <img src="assets/product-carousel/product_carousel_blonde.jpg"></img>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid product-list">
    <div class="row-fluid">
      <div class="span12">
        <div class="product-container">
          <% @watches.each do |product| %>
          <div class="product-listing">
            <div><%= link_to image_tag(product.image1), product %></div>
            <div class="listing-details">
              <div class="list-item-details"><%= link_to product.name, product %></div>
              <div class="list-item-details"><%= link_to product.collection, product %> / <%= link_to product.color, product %></div>
              <div class="list-item-details">$<%= link_to (product.price), product %></div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.store-nav').addClass('active-nav-item');

    $('.product-list').fadeIn(1000);

    $('.blonde').addClass('sub-nav-item-active');

    var $container = $('.product-container');
      $container.imagesLoaded(function(){
        $container.masonry({
          itemSelector : '.product-listing',
          columnWidth : 220, 
          gutterWidth : 20, 
          isFitWidth: true
        });
      });
  });
</script>
