<h1>Listing products</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Description</th>
    <th>Name</th>
    <th>Color</th>
    <th>Price</th>
    <th>Shoplink</th>
    <th>Image1</th>
    <th>Image2</th>
    <th>Image3</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.category %></td>
    <td><%= product.description %></td>
    <td><%= product.name %></td>
    <td><%= product.color %></td>
    <td><%= product.price %></td>
    <td><%= product.shoplink %></td>
    <td><%= product.image1 %></td>
    <td><%= product.image2 %></td>
    <td><%= product.image3 %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
