<div id="products">
  <div class="container=fluid">

    <%= render(:partial => "product-nav") %>

    <div class="row-fluid product-details">
      <div class="span6">

        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <%= image_tag @product.image1 %>
            </div>
            <div class="item">
              <%= image_tag @product.image2 %>
            </div>
            <div class="item">
              <%= image_tag @product.image3 %>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>

      <div class="span6">
        <div class="detail-heading">
          <h3><%= @product.name %><span><h6>/ <%= @product.color %></h6></span></h3>
        </div>

        <div class="product-buy">
          <h4 class="detail-price">$<%= @product.price %> USD<span><a href="<%= @product.shoplink %>" class="btn-large btn-primary">Buy Now<a></span></h4>
        </div>

        <% if @product.category == "Watches" %>
        <div class="color-options">
          <h6>Color Options</h6>
          <div class="color-options-images">

          <% if @product.name == "The Plank" %>
            <% @plank_images.each do |image| %>
            <%= link_to image_tag(image.image1), image %>
            <% end %>

          <% elsif @product.name == "The Deck" %>
            <% @deck_images.each do |image| %>
            <%= link_to image_tag(image.image1), image %>
            <% end %>

          <% elsif @product.name == "The Drift" %>
            <% @drift_images.each do |image| %>
            <%= link_to image_tag(image.image1), image %>
            <% end %>

          <% elsif @product.name == "The Baron" %>
            <% @baron_images.each do |image| %>
            <%= link_to image_tag(image.image1), image %>
            <% end %>
          <% end %>
          </div>
        </div>

        <% else %>
        <div class="color-options">
          <h6>Choose Size</h6>
        </div>
        <% end %>

      </div>

    </div>

  </div>

</div>



































