<div id="products">
  <div class="container=fluid">

    <%= render(:partial => "product-nav") %>

    <div class="row-fluid product-details">
      <div class="span6">

        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <%= image_tag @product.image1 %>
            </div>
            <div class="item">
              <%= image_tag @product.image2 %>
            </div>
            <div class="item">
              <%= image_tag @product.image3 %>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>

      <div class="span6">
        <div class="detail-heading">
          <h3><%= @product.name %><span><h6>/ <%= @product.color %></h6></span></h3>
        </div>

        <div class="product-buy">
          <h4 class="detail-price">$<%= @product.price %> USD<span><a href="<%= @product.shoplink %>" class="btn-large btn-primary">Buy Now<a></span></h4>
        </div>

        <% if @product.category == "Watches" %>

        <div class="color-options">
          <h6>Color Options</h6>
          <div class="color-options-images">

          <% if @product.name == "The Plank" %>
            <% @plank_images.each do |image| %>
            <%= link_to image_tag(image.image1), image %>
            <% end %>

          <% elsif @product.name == "The Deck" %>
            <% @deck_images.each do |image| %>
            <%= link_to image_tag(image.image1), image %>
            <% end %>

          <% elsif @product.name == "The Drift" %>
            <% @drift_images.each do |image| %>
            <%= link_to image_tag(image.image1), image %>
            <% end %>

          <% elsif @product.name == "The Baron" %>
            <% @baron_images.each do |image| %>
            <%= link_to image_tag(image.image1), image %>
            <% end %>
          <% end %>
          </div>
        </div>

        <div class="specs">
          <h6>Specifications</h6>
          <ul>
            <ul>
              <li><span class="spec-icon-solid pull-left"</span></li>
              <li><h5>100% Pine With <a href="#" id="solidPop" data-trigger="click" data-toggle="popover" data-placement="top" data-content="MICA's proprietary wood science improves durability, luster and resistance to the elements. Seals and finishes your watch from the inside out." data-original-title="SolidCore™">SolidCore™</a> Treatment</h5></li>
            </ul>
            <ul>
              <li><span class="spec-icon-size pull-left"</span></li>
              <li><h5>Large Size (44mm)</h5></li>
            </ul>
            <ul>
              <li><span class="spec-icon-movement pull-left"</span></li>
              <li><h5>3 Hand Japanese Quartz</h5></li>
            </ul>
            <ul>
              <li><span class="spec-icon-crystal pull-left"</span></li>
              <li><h5>Hardened Mineral Crystal Glass</h5></li>
            </ul>
            <ul>
              <li><span class="spec-icon-atm pull-left"</span></li>
              <li><h5>5 ATM (Splash Only)</h5></li>
            </ul>
            <ul>
              <li><span class="spec-icon-ss pull-left"</span></li>
              <li><h5>Stainless Steel Buckle & Crown</h5></li>
            </ul>
          </ul>

        </div>

        <% else %>
        <div class="color-options">
          <h6>Choose Size</h6>
        </div>
        <% end %>

      </div>

    </div>

  </div>

</div>

<script>
$(document).ready(function() {
  $('#solidPop').popover('hide')
});

</script>



































